/*font-family: 'Poppins', sans-serif;*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}


html{
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
}

body{
    background-color: rgba(0,0,0,.8);
    color: rgba(255, 255, 255, 0.808);
}

.container{
    display: flex;
    height: 100vh;
    width: 70vw;
    margin: 2rem auto;
    flex-direction: column;
    align-items: center;

    
}


.container h2{
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;
}


.formulario_datos{
    display: block;
    width: 50%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
}

.formulario_datos input:focus{
    border-bottom: 1px solid dodgerblue;
}

.formulario_datos input{
    margin: 1rem 0rem;
    line-height: 3rem;
    background: none;
    outline: 0;
    border: 0;
    color: #fff;

}

.formulario_datos button{
    margin: 1rem 0rem;
    background: dodgerblue;
    border: 0;
    outline: 0;
    height: 3rem;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
}


.listado_tareas{
    display: flex;
    flex-direction: column;
}

.tarea{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 4rem;
}

.icono{
    color: tomato;
    cursor: pointer;
}


.warning{
    color: red;
    font-size: 2.3rem;
    text-align: center;
}


@media screen and (max-width:768px){

    .tarea{
        width: max-content;
        justify-content: center;
        padding: 5px;
    }

    .text_tarea{
        margin-right: 20px;
        font-size: 15px;
    }
}

@media screen and (max-width:520px) {
    .listado_tareas{
        margin: 10px auto;
        background-color: red;
    }

    .formulario_datos{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .text_tarea{
        margin-right: 20px;
        font-size: 15px;
    }
    
}